@import url(/styles/root.css);
/* GENERAL  */
.font_26px {
  font-size: 26px;
}
.font_15px {
  font-size: 15px;
}
.bold {
  font-weight: bold;
}
.width-max {
  width: 100%;
}
.unavailable {
  opacity: 60%;
}
.cursor_pointer {
  cursor: pointer;
}
.link_hover {
  text-decoration: none;
}
.link_hover:hover {
  text-decoration: underline;
}

/* -------------------------------- */
/* ------- MOBILE FIRST -------- */
/* -------------------------------- */
body {
  font-family: "Space Mono", monospace;
  background-color: var(--background-light-blue);
  height: 100%;
  max-width: 327px;
  margin: auto;
  transition: 0.3s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER  */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 144px;
  color: var(--text-light-blue);
  margin-bottom: 36px;
}

h1 {
  font-weight: 700;
}

.mode {
  display: flex;
  align-items: center;
  color: var(--text-dark-grey);
  gap: 16px;
  cursor: pointer;
}
.mode:hover {
  filter: brightness(5%) saturate(0%);
  color: var(--text-light-blue);
}

.text_mode {
  font-size: 13px;
  letter-spacing: 2.5px;
}

/* SEARCH INPUT */
.search_section {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--background-white);
  height: 69px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin-bottom: 24px;
}

.search_content {
  width: 100%;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  border: none;
  background-color: var(--background-white);
  padding: 12px 0;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

.input::placeholder {
  color: var(--text-lighter-blue);
  font-family: "Space Mono", monospace;
  font-size: 13px;
}

.input:focus {
  outline: none;
}

textarea:focus,
input:focus {
  color: var(--text-lighter-blue);
}
input,
select,
textarea {
  color: var(--text-lighter-blue);
}

.search_svg {
  padding-left: 16px;
  padding-right: 8px;
}

.search_btn {
  display: flex;
  height: 46px;
  width: 84px;
  background-color: var(--background-blue);
  color: var(--background-white);
  margin: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.search_btn:hover {
  opacity: 70%;
}

.search_text {
  margin: auto;
  font-size: 14px;
  padding: 16px 12.5px;
  color: #ffffff;
}

/* SEARCH RESULT */

.result {
  height: auto;
  width: 100%;
  background-color: var(--background-white);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* .no-results {
  margin: 0 24px;
  color: #f74646;
} */

/* PROFILE PIC */
.profile_img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

/* CONTAINER */

/* TITLE */

/* TWITTER TEXT */

/* BIO TEXT */

/* STAT CONTAINER */
.stats-content {
  display: flex;

  width: 279px;
  height: 85px;
  background-color: var(--background-light-blue);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  color: var(--text-dark-grey);
  font-size: 13px;
}

/* REPOS CONTENT */

/* FOLLOWER CONTENT */

/* FOLLOWING CONTENT */

/* LINK CONTENT */

/* SETUP HEIGHT ICON */

/* tablet  */
